# Copied from atom-jade, replaced where needed
'fileTypes': [
  'dt'
]
'name': 'Diet'
'patterns': [
  {
    'comment': 'Doctype declaration.'
    'match': '^(!!!|doctype)(\\s*[a-zA-Z0-9-_]+)?'
    'name': 'comment.other.doctype.diet'
  }
  {
    'begin': '^(\\s*)//-'
    'comment': 'Unbuffered (diet-only) comments.'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'comment.unbuffered.block.diet'
  }
  {
    'begin': '^(\\s*)//'
    'comment': 'Buffered (html) comments.'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'string.comment.buffered.block.diet'
    'patterns': [
      {
        'captures':
          '1':
            'name': 'invalid.illegal.comment.comment.block.diet'
        'comment': 'Buffered comments inside buffered comments will generate invalid html.'
        'match': '^\\s*(//)(?!-)'
        'name': 'string.comment.buffered.block.diet'
      }
    ]
  }
  {
    'begin': '^(\\s*)(script)(?=[.#(\\s])((?![^\\n]*type=)|(?=[^\\n]*text/javascript))'
    'beginCaptures':
      '2':
        'name': 'entity.name.tag.script.diet'
    'comment': 'Script tag with JavaScript code.'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'source.script.diet'
    'patterns': [
      {
        'begin': '\\G(?=\\()'
        'end': '$'
        'name': 'stuff.tag.script.diet'
        'patterns': [
          {
            'include': '#tag_attributes'
          }
        ]
      }
      {
        'begin': '\\G(?=[.#])'
        'end': '$'
        'name': 'stuff.tag.script.diet'
        'patterns': [
          {
            'include': '#complete_tag'
          }
        ]
      }
      {
        'include': 'source.js'
      }
    ]
  }
  {
    'begin': '^(\\s*)(style)(?=[.#(\\s])'
    'beginCaptures':
      '2':
        'name': 'entity.name.tag.script.diet'
    'comment': 'Style tag with CSS code.'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'source.style.diet'
    'patterns': [
      {
        'begin': '\\G(?=\\()'
        'end': '$'
        'name': 'stuff.tag.style.diet'
        'patterns': [
          {
            'include': '#tag_attributes'
          }
        ]
      }
      {
        'begin': '\\G(?=[.#])'
        'end': '$'
        'name': 'stuff.tag.style.diet'
        'patterns': [
          {
            'include': '#complete_tag'
          }
        ]
      }
      {
        'include': 'source.css'
      }
    ]
  }
  {
    'begin': '^(\\s*):(markdown)(?=\\(|$)$'
    'beginCaptures':
      '2':
        'name': 'constant.language.name.markdown.filter.diet'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'text.markdown.filter.diet'
    'patterns': [
      {
        'include': '#filter_args'
      }
      {
        'include': 'text.html.markdown'
      }
    ]
  }
  {
    'begin': '^(\\s*):(sass)(?=\\(|$)$'
    'beginCaptures':
      '2':
        'name': 'constant.language.name.sass.filter.diet'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'source.sass.filter.diet'
    'patterns': [
      {
        'include': '#filter_args'
      }
      {
        'include': 'source.sass'
      }
    ]
  }
  {
    'begin': '^(\\s*):(css)(?=\\(|$)$'
    'beginCaptures':
      '2':
        'name': 'constant.language.name.css.filter.diet'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'source.css.filter.diet'
    'patterns': [
      {
        'include': '#filter_args'
      }
      {
        'include': 'source.css'
      }
    ]
  }
  {
    'begin': '^(\\s*):(javascript)(?=\\(|$)$'
    'beginCaptures':
      '2':
        'name': 'constant.language.name.javascript.filter.diet'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'source.javascript.filter.diet'
    'patterns': [
      {
        'include': '#filter_args'
      }
      {
        'include': 'source.js'
      }
    ]
  }
  {
    'begin': '^(\\s*):(less)(?=\\(|$)$'
    'beginCaptures':
      '2':
        'name': 'constant.language.name.less.filter.diet'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'source.less.filter.diet'
    'patterns': [
      {
        'include': '#filter_args'
      }
      {
        'include': 'source.less'
      }
    ]
  }
  {
    'begin': '^(\\s*):(stylus)(?=\\(|$)$'
    'beginCaptures':
      '2':
        'name': 'constant.language.name.stylus.filter.diet'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'source.stylus.filter.diet'
    'patterns': [
      {
        'include': '#filter_args'
      }
      {
        'include': 'source.stylus'
      }
    ]
  }
  {
    'begin': '^(\\s*):(coffee(-?script)?)(?=\\(|$)'
    'beginCaptures':
      '2':
        'name': 'constant.language.name.coffeescript.filter.diet'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'source.coffeescript.filter.diet'
    'patterns': [
      {
        'include': '#filter_args'
      }
      {
        'include': 'source.coffee'
      }
    ]
  }
  {
    'begin': '^(\\s*)((:(?=.))|(:$))'
    'beginCaptures':
      '4':
        'name': 'invalid.illegal.empty.generic.filter.diet'
    'comment': 'Generic diet filter.'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'text.generic.filter.diet'
    'patterns': [
      {
        'begin': '\\G(?<=:)(?=.)'
        'end': '$'
        'name': 'name.generic.filter.diet'
        'patterns': [
          {
            'match': '\\G\\('
            'name': 'invalid.illegal.name.generic.filter.diet'
          }
          {
            'match': '\\w'
            'name': 'constant.language.name.generic.filter.diet'
          }
          {
            'include': '#filter_args'
          }
          {
            'match': '\\W'
            'name': 'invalid.illegal.name.generic.filter.diet'
          }
        ]
      }
    ]
  }
  {
    'begin': '^(\\s*)(?=[\\w.#].*?\\.$)(?=(?:(?:(?:(?:(?:#[\\w-]+)|(?:\\.[\\w-]+))|(?:(?:[#!]\\{[^}]*\\})|(?:\\w(?:(?:[\\w:-]+[\\w-])|(?:[\\w-]*)))))(?:(?:#[\\w-]+)|(?:\\.[\\w-]+)|(?:\\((?:[^()\\\'\\"]*(?:(?:\\\'(?:[^\\\']|(?:(?<!\\\\)\\\\\\\'))*\\\')|(?:\\"(?:[^\\"]|(?:(?<!\\\\)\\\\\\"))*\\")))*[^()]*\\))*)*)(?:(?:(?::\\s+)|(?<=\\)))(?:(?:(?:(?:#[\\w-]+)|(?:\\.[\\w-]+))|(?:(?:[#!]\\{[^}]*\\})|(?:\\w(?:(?:[\\w:-]+[\\w-])|(?:[\\w-]*)))))(?:(?:#[\\w-]+)|(?:\\.[\\w-]+)|(?:\\((?:[^()\\\'\\"]*(?:(?:\\\'(?:[^\\\']|(?:(?<!\\\\)\\\\\\\'))*\\\')|(?:\\"(?:[^\\"]|(?:(?<!\\\\)\\\\\\"))*\\")))*[^()]*\\))*)*))*)\\.$)(?:(?:(#[\\w-]+)|(\\.[\\w-]+))|((?:[#!]\\{[^}]*\\})|(?:\\w(?:(?:[\\w:-]+[\\w-])|(?:[\\w-]*)))))'
    'beginCaptures':
      '2':
        'name': 'constant.id.tag.diet'
      '3':
        'name': 'constant.language.d'
      '4':
        'name': 'entity.name.tag.diet'
    'comment': 'Generated from dot_block_tag.py'
    'end': '^(?!(\\1\\s)|\\s*$)'
    'name': 'text.block.dot.tag.diet'
    'patterns': [
      {
        'include': '#tag_attributes'
      }
      {
        'include': '#complete_tag'
      }
      {
        'begin': '^(?=.)'
        'end': '$'
        'name': 'text.block.diet'
        'patterns': [
          {
            'include': '#inline_diet'
          }
          {
            'include': '#embedded_html'
          }
          {
            'include': '#html_entity'
          }
          {
            'include': '#interpolated_value'
          }
          {
            'include': '#interpolated_error'
          }
        ]
      }
    ]
  }
  {
    'begin': '^\\s*'
    'comment': 'All constructs that generally span a single line starting with any number of white-spaces.'
    'end': '$'
    'name': 'tag.diet'
    'patterns': [
      {
        'include': '#inline_diet'
      }
      {
        'include': '#blocks_and_includes'
      }
      {
        'include': '#unbuffered_code'
      }
      {
        'include': '#mixins'
      }
      {
        'include': '#flow_control'
      }
      {
        'include': '#case_conds'
      }
      {
        'begin': '\\|'
        'comment': 'Tag pipe text line.'
        'end': '$'
        'name': 'text.block.pipe.diet'
        'patterns': [
          {
            'include': '#inline_diet'
          }
          {
            'include': '#embedded_html'
          }
          {
            'include': '#html_entity'
          }
          {
            'include': '#interpolated_value'
          }
          {
            'include': '#interpolated_error'
          }
        ]
      }
      {
        'include': '#printed_expression'
      }
      {
        'begin': '\\G((?=<)|[^\\w.#]|(\\.[^\\w-]))|(#[^\\{\\w-])'
        'comment': 'Line starting with characters incompatible with tag name/id/class is standalone text.'
        'end': '$'
        'name': 'text.diet'
        'patterns': [
          {
            'include': '#inline_diet'
          }
          {
            'include': '#embedded_html'
          }
          {
            'include': '#html_entity'
          }
          {
            'include': '#interpolated_value'
          }
          {
            'include': '#interpolated_error'
          }
        ]
      }
      {
        'include': '#complete_tag'
      }
    ]
  }
]
'repository':
  'blocks_and_includes':
    'captures':
      '1':
        'name': 'storage.type.import.include.diet'
      '4':
        'name': 'variable.control.import.include.diet'
    'comment': 'Template blocks and includes.'
    'match': '(extends|include|yield|append|prepend|block( (append|prepend))?)\\s+(.*)$'
    'name': 'meta.first-class.diet'
  'brackets_d':
    'begin': '\\['
    'end': '\\]'
    'name': 'd.value.attribute.tag.diet'
    'patterns': [
      {
        'include': '#brackets_d'
      }
      {
        'include': 'source.d'
      }
    ]
  'case_conds':
    'begin': '(default|when)((\\s+|(?=:))|$)'
    'captures':
      '1':
        'name': 'storage.type.function.diet'
    'comment': 'diet case conditionals.'
    'end': '$'
    'name': 'meta.control.flow.diet'
    'patterns': [
      {
        'begin': '\\G(?!:)'
        'end': '(?=:\\s+)|$'
        'name': 'd.embedded.control.flow.diet'
        'patterns': [
          {
            'include': '#case_when_paren'
          }
          {
            'include': 'source.d'
          }
        ]
      }
      {
        'begin': ':\\s+'
        'end': '$'
        'name': 'tag.case.control.flow.diet'
        'patterns': [
          {
            'include': '#complete_tag'
          }
        ]
      }
    ]
  'case_when_paren':
    'begin': '\\('
    'end': '\\)'
    'name': 'd.when.control.flow.diet'
    'patterns': [
      {
        'include': '#case_when_paren'
      }
      {
        'match': ':'
        'name': 'invalid.illegal.name.tag.diet'
      }
      {
        'include': 'source.d'
      }
    ]
  'complete_tag':
    'begin': '(?=[\\w.#])|(:\\s*)'
    'end': '(\\.?$)|(?=:.)'
    'name': 'complete_tag.diet'
    'patterns': [
      {
        'include': '#blocks_and_includes'
      }
      {
        'include': '#unbuffered_code'
      }
      {
        'include': '#mixins'
      }
      {
        'include': '#flow_control'
      }
      {
        'match': '(?<=:)\\w.*$'
        'name': 'invalid.illegal.name.tag.diet'
      }
      {
        'include': '#tag_name'
      }
      {
        'include': '#tag_id'
      }
      {
        'include': '#tag_classes'
      }
      {
        'include': '#tag_attributes'
      }
      {
        'include': '#tag_mixin_attributes'
      }
      {
        'captures':
          '2':
            'name': 'invalid.illegal.end.tag.diet'
          '4':
            'name': 'invalid.illegal.end.tag.diet'
        'match': '((\\.)\\s+$)|((:)\\s*$)'
      }
      {
        'include': '#printed_expression'
      }
      {
        'include': '#tag_text'
      }
    ]
  'embedded_html':
    'begin': '(?=<[^>]*>)'
    'end': '$|(?=>)'
    'name': 'html'
    'patterns': [
      {
        'include': 'text.html.basic'
      }
      {
        'include': '#interpolated_value'
      }
      {
        'include': '#interpolated_error'
      }
    ]
  'filter_args':
    'begin': '\\G(\\()'
    'captures':
      '1':
        'name': 'meta.args.filter.diet'
      '2':
        'name': 'invalid.illegal.extra.args.filter.diet'
    'end': '(\\))(.*?$)'
    'name': 'args.filter.diet'
    'patterns': [
      {
        'begin': '([^\\s(),=]+)(=?)'
        'beginCaptures':
          '1':
            'name': 'entity.other.attribute-name.tag.diet'
          '2':
            'name': 'punctuation.separator.key-value.diet'
        'contentName': 'string.value.args.filter.diet'
        'end': '((?=\\))|,|$)'
        'name': 'attributes.tag.diet'
        'patterns': [
          {
            'include': '#filter_args_paren'
          }
        ]
      }
    ]
  'filter_args_paren':
    'begin': '\\('
    'end': '\\)|$'
    'patterns': [
      {
        'include': '#filter_args_paren'
      }
    ]
  'flow_control':
    'begin': '(for|if|else if|else|each|until|while|unless|case)(\\s+|$)'
    'captures':
      '1':
        'name': 'storage.type.function.diet'
    'comment': 'diet control flow.'
    'end': '$'
    'name': 'meta.control.flow.diet'
    'patterns': [
      {
        'begin': ''
        'end': '$'
        'name': 'd.embedded.control.flow.diet'
        'patterns': [
          {
            'include': 'source.d'
          }
        ]
      }
    ]
  'html_entity':
    'patterns': [
      {
        'match': '(&)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)'
        'name': 'constant.character.entity.html.text.diet'
      }
      {
        'match': '[<>&]'
        'name': 'invalid.illegal.html_entity.text.diet'
      }
    ]
  'inline_diet':
    'begin': '(?<!\\\\)(#\\[)'
    'captures':
      '1':
        'name': 'entity.name.function.diet'
      '2':
        'name': 'entity.name.function.diet'
    'end': '(\\])'
    'name': 'inline.diet'
    'patterns': [
      {
        'include': '#inline_diet'
      }
      {
        'include': '#mixins'
      }
      {
        'begin': '(?<!\\])(?=[\\w.#])|(:\\s*)'
        'end': '(?=\\]|(:.)|=|\\s)'
        'name': 'tag.inline.diet'
        'patterns': [
          {
            'include': '#tag_name'
          }
          {
            'include': '#tag_id'
          }
          {
            'include': '#tag_classes'
          }
          {
            'include': '#tag_attributes'
          }
          {
            'include': '#tag_mixin_attributes'
          }
          {
            'include': '#inline_diet'
          }
          {
            'match': '\\['
            'name': 'invalid.illegal.tag.diet'
          }
        ]
      }
      {
        'include': '#unbuffered_code'
      }
      {
        'include': '#printed_expression'
      }
      {
        'match': '\\['
        'name': 'invalid.illegal.tag.diet'
      }
      {
        'include': '#inline_diet_text'
      }
    ]
  'inline_diet_text':
    'begin': ''
    'end': '(?=\\])'
    'name': 'text.diet'
    'patterns': [
      {
        'begin': '\\['
        'end': '\\]'
        'patterns': [
          {
            'include': '#inline_diet_text'
          }
        ]
      }
      {
        'include': '#inline_diet'
      }
      {
        'include': '#embedded_html'
      }
      {
        'include': '#html_entity'
      }
      {
        'include': '#interpolated_value'
      }
      {
        'include': '#interpolated_error'
      }
    ]
  'interpolated_error':
    'match': '(?<!\\\\)[#!]\\{(?=[^}]*$)'
    'name': 'invalid.illegal.tag.diet'
  'interpolated_value':
    'begin': '(?<!\\\\)[#!]\\{(?=.*?\\})'
    'end': '\\}'
    'name': 'string.interpolated.diet'
    'patterns': [
      {
        'match': '{'
        'name': 'invalid.illegal.tag.diet'
      }
      {
        'include': 'source.d'
      }
    ]
  'mixins':
    'begin': '(((mixin\\s+)|\\+)([\\w-]+))\\s*'
    'beginCaptures':
      '2':
        'name': 'storage.type.function.diet'
      '4':
        'name': 'entity.name.function.diet'
    'comment': 'Mixin declaration and use, including the new \'+\' syntax.'
    'end': '(?=\\])|(?=\\))|$'
    'name': 'meta.mixin.diet'
    'patterns': [
      {
        'begin': '(\\(|\\[)'
        'end': '(?=\\])|(?=\\))|$'
        'name': 'args.mixin.diet'
        'patterns': [
          {
            'include': '#tag_attribute_value_paren'
          }
          {
            'include': '#tag_attribute_value_brackets'
          }
          {
            'include': '#tag_attribute_value_braces'
          }
          {
            'include': 'source.d'
          }
        ]
      }
    ]
  'printed_expression':
    'begin': '(!?\\=)\\s*'
    'captures':
      '1':
        'name': 'constant'
    'end': '(?=\\])|$'
    'patterns': [
      {
        'include': '#brackets_d'
      }
      {
        'include': 'source.d'
      }
    ]
  'string':
    'begin': '([\'"])'
    'end': '(?<!\\\\)\\1'
    'name': 'string.quoted.diet'
    'patterns': [
      {
        'match': '\\\\((x[0-9a-fA-F]{2})|(u[0-9]{4})|.)'
        'name': 'constant.character.quoted.diet'
      }
      {
        'include': '#interpolated_value'
      }
      {
        'include': '#interpolated_error'
      }
    ]
  'tag_attribute_value_braces':
    'begin': '\\{'
    'end': '\\}'
    'name': 'd.value.attribute.tag.diet'
    'patterns': [
      {
        'include': '#tag_attribute_value_paren'
      }
      {
        'include': '#tag_attribute_value_brackets'
      }
      {
        'include': '#tag_attribute_value_braces'
      }
      {
        'include': '#string'
      }
      {
        'include': 'source.d'
      }
    ]
  'tag_attribute_value_brackets':
    'begin': '\\['
    'end': '\\]'
    'name': 'd.value.attribute.tag.diet'
    'patterns': [
      {
        'include': '#tag_attribute_value_paren'
      }
      {
        'include': '#tag_attribute_value_brackets'
      }
      {
        'include': '#tag_attribute_value_braces'
      }
      {
        'include': '#string'
      }
      {
        'include': 'source.d'
      }
    ]
  'tag_attribute_value_paren':
    'begin': '\\('
    'end': '\\)'
    'name': 'd.value.attribute.tag.diet'
    'patterns': [
      {
        'include': '#tag_attribute_value_paren'
      }
      {
        'include': '#tag_attribute_value_brackets'
      }
      {
        'include': '#tag_attribute_value_braces'
      }
      {
        'include': '#string'
      }
      {
        'include': 'source.d'
      }
    ]
  'tag_attributes':
    'begin': '(\\()'
    'captures':
      '1':
        'name': 'constant.name.attribute.tag.diet'
    'end': '(\\))'
    'name': 'attributes.tag.diet'
    'patterns': [
      {
        'captures':
          '1':
            'name': 'entity.other.attribute-name.tag.diet'
        'match': '([^\\s(),=/]+)\\s*((?=\\))|,|\\s+|$)(?!=)'
        'name': 'attributes.tag.diet'
      }
      {
        'begin': '([^\\s(),=/]*[^\\s(),=!/])\\s*(!?\\=)'
        'beginCaptures':
          '1':
            'name': 'entity.other.attribute-name.tag.diet'
          '2':
            'name': 'punctuation.separator.key-value.diet'
        'end': '(,|$|(?=\\)|((?<![+/*|&=:^~!?<>%-])\\s+[^+/*|&=:^~!?<>%-])))'
        'name': 'attributes.tag.diet'
        'patterns': [
          {
            'include': '#tag_attribute_value_paren'
          }
          {
            'include': '#tag_attribute_value_brackets'
          }
          {
            'include': '#tag_attribute_value_braces'
          }
          {
            'include': '#string'
          }
          {
            'include': 'source.d'
          }
        ]
      }
    ]
  'tag_classes':
    'match': '\\.[\\w-]+'
    'name': 'constant.language.d'
  'tag_id':
    'match': '#[\\w-]+'
    'name': 'entity.other.attribute-name.id.diet'
  'tag_mixin_attributes':
    'begin': '(&attributes\\()'
    'captures':
      '1':
        'name': 'entity.name.function.diet'
    'end': '(\\))'
    'name': 'attributes.tag.diet'
    'patterns': [
      {
        'match': 'attributes(?=\\))'
        'name': 'storage.type.keyword.diet'
      }
      {
        'include': 'source.d'
      }
    ]
  'tag_name':
    'begin': '([#!]\\{(?=.*?\\}))|(\\w(([\\w:-]+[\\w-])|([\\w-]*)))'
    'end': '(\\G(?<!\\5[^\\w-]))|\\}|$'
    'name': 'entity.name.tag.diet'
    'patterns': [
      {
        'begin': '\\G(?<=\\{)'
        'end': '(?=\\})'
        'name': 'entity.name.tag.diet'
        'patterns': [
          {
            'match': '{'
            'name': 'invalid.illegal.tag.diet'
          }
          {
            'include': 'source.d'
          }
        ]
      }
    ]
  'tag_text':
    'begin': '(?=.)'
    'end': '$'
    'name': 'text.diet'
    'patterns': [
      {
        'include': '#inline_diet'
      }
      {
        'include': '#embedded_html'
      }
      {
        'include': '#html_entity'
      }
      {
        'include': '#interpolated_value'
      }
      {
        'include': '#interpolated_error'
      }
    ]
  'unbuffered_code':
    'begin': '(-|(([a-zA-Z0-9_]+)\\s+=))'
    'beginCaptures':
      '3':
        'name': 'variable.parameter.d.embedded.diet'
    'comment': 'name = function() {}'
    'end': '(?=\\])|$'
    'name': 'd.embedded.diet'
    'patterns': [
      {
        'include': '#brackets_d'
      }
      {
        'include': 'source.d'
      }
    ]
'scopeName': 'source.dt'
