# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      label: "atomize-d"
      submenu: [
        { label: "Lookup Documentation", command: "atomize-d:lookup-documentation" }
        { label: "Goto Declaration", command: "atomize-d:goto-declaration" }
        { label: "Search For Selected Symbol", command: "atomize-d:search-for-selected-symbol" }
      ]
    }
  ]
